{% extends 'stock/base.html' %}
{% block content %}
<h3>Alert </h3>
<table class="table">
     <thead>
     <tr>
          <th scope="col">#pk</th>
          <th scope="col">date</th>
          <th scope="col">item</th>
          <th scope="col">description</th>
          <th scope="col">initial_quantity</th>
          <th scope="col">alert</th>
          <th scope="col">qte_inStock</th>
          
     </tr>
     
     </thead>
     <tbody>
     {% for k in alert %}
     <tr>
          <th scope="row">{{k.pk}}</th>
          <td>{{k.date}}</td>
          <td>{{k.item}}</td>
          <td>{{k.description}}</td>
          <td>{{k.initial_quantity}}</td>
          <td>{{k.alert_qte}}</td>
          <td>{{k.quantity}}</td>
     {% empty %}
        <li>No alert qte  yet.</li>
          
     </tr>
     {% endfor %}  
     </tbody>
</table>

{% endblock %}