{% extends 'stock/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <h2>Items</h2>

    <!-- Search Form -->
    <form method="GET" action="{% url 'stock:item_list' %}">
        <div class="input-group mb-3">
            <input type="text" name="query" class="form-control" placeholder="Search items..." value="{{ form.query.value|default:'' }}">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>

        <div class="row mb-3">
            <div class="col">
                {{ form.category.label }}<br>
                {{ form.category }}
            </div>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
                <th>Qte in Stock by Unit</th>
                <th>Qte in Stock by Carton</th>

            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.get_category_display }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.stock.current_quantity}}</td>
                <td>{{ item.stock.quantity_by_crtn}}</td>

            {% empty %}
            <tr>
                <td colspan="4">No items available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'stock:create_item' %}" class="btn btn-primary">Add New Item</a>
</div>
{% endblock %}