<!-- templates/stock/item_search.html -->
{% extends "stock/base.html" %}
{% block title %}Item Search{% endblock %}
{% block content %}
<h3>Search Items</h3>

<form method="get" action="{% url 'stock:item_search' %}">
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
<table class="table">

{% if items or the_items or parfum_items %}
    <h2>Search Results</h2>
    
<table class="table">   
    <h3>The </h3>
    <thead>
    <tr>
        <th scope="col">#pk</th>
        <th scope="col">item</th>
        <th scope="col">description</th>
        <th scope="col">date</th>
        <th scope="col">initial quantity</th>
        <th scope="col">cateory</th>
        <th scope="col">packaging</th>
        <th scope="col">weight (g)</th>
        <th scope="col">ref</th>
        <th scope="col">qte_inStock</th>



    </tr> 
    </thead>
    <tbody> 
    {% for the in the_items %}
    <tr>
        <th scope="row">{{the.pk}}</th>
        <td>{{the.item}}</td>
        <td>{{the.description}}</td>
        <td>{{the.date}}</td>
        <td>{{the.initial_quantity}}</td>
        <td>{{the.category}}</td>
        <td>{{the.packaging}}</td>
        <td>{{the.weight}}</td>
        <td>{{the.ref}}</td>
        <td>{{the.qte_inStock}}</td>
    {% empty %}
        <li>No The found.</li>
    </tr>    
    {% endfor %}
    </tbody>
    
</table>  
<table>
    <h3>Parfum </h3>
    <ul>
        {% for parfum in parfum_items %}
            <li>{{ parfum.item }} - {{ parfum.description }} - Brand: {{ parfum.sub_brand }} - Type: {{ parfum.type }} - Volume: {{ parfum.volum }}</li>
        {% empty %}
            <li>No items found.</li>
        {% endfor %}
    </ul>
</table>     
{% endif %}
{% endblock %}

