{% extends 'stock/base.html' %}
{% block content %}
<h3>Receipt List</h3>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>BL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for receipt in receipts %}
        <tr>
            <td>{{ receipt.date }}</td>
            <td>{{ receipt.bl }}</td>
            <td>
                <a href="{% url 'stock:receipt_detail' receipt.id %}">View</a>  <!-- Link to receipt detail view -->
              
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No receipts found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
