<title>Receipt List</title>
{% extends 'stock/base.html' %}
{% block content %}
<h3>Receipt List</h3>

<table class="table">
    <thead>
        <tr>
            <th>Resonsable </th>
            <th>Date</th>
            <th>Bon de Livraison</th>
            <th>Qte total </th>
            <th>Qte/Carton</th>
        </tr>
    </thead>
    <tbody>
        {% for receipt in receipts %}
        <tr>
            <td>{{ receipt.user }}</td>
            <td>{{ receipt.date }}</td>
            <td>{{ receipt.bon_de_livraison }}</td>
            <td>{{ receipt.get_qte_total }}</td>
            <td>{{ receipt.get_qte_carton }}</td>
           
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No receipts found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
