<!DOCTYPE html>
<html>
<head>
    <title>Stock Report</title>
</head>
<body>
    <h1>Stock Report</h1>
    <table>
        <thead>
            <tr>
                {% for header in report_data.0.keys %}
                <th>{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in report_data %}
            <tr>
                {% for value in row.values %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>