{% extends 'sale/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<h1>Sale</h1>
<h3> Return Details</h3>
<p><strong>Sale ID:</strong> {{ sale.pk }}</p>
<p><strong>Date:</strong> {{ sale.date|date:"d/m/Y H:i:s" }}</p>

<p><strong>Total of Items:</strong> {{ sale.total_of_items }}</p>
<p><strong>Total HT:</strong> {{ sale.get_HT }}</p>
<p><strong>Total TVA:</strong> {{ sale.get_TVA }}</p>
<p><strong>Total TTC:</strong> {{ sale.get_TTC }}</p>

<h2>Orders</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for order in sale.inlineorder_set.all %}
        <tr>
            <td>{{ order.item.pk }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.get_subtotal }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No orders found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Payments</h2>
<p><strong>Amount received :</strong> {{ sale.cash.amount_received }}</p>
<p><strong>Refunded:</strong> {{ sale.cash.get_change }}</p>

<!-- Buttons for PDF Download and Print -->
<div class="pdf-buttons">
    <!-- Download PDF Button -->
    <a href="{% url 'sale:generate_ticket_pdf' sale_id=sale.pk %}" class="btn btn-primary" download="ticket-{{ sale.pk }}.pdf">Ticket</a>
</div>

{% endblock %}
