{% extends "sale/base.html" %}
{% load static %}
{% block content %}
<!-- main Sale -->
<h4>Sale</h4>
<hr>
<div class="col-md-4">
    <form id="sale-order-form" action="" method="post">{% csrf_token %}
        <h5>Person Information</h5>
        {{ persone_form.as_p }}
        <h5>Sale Information</h5>
        {{sale_form.as_p}}
        <table class="table"> 
            <!-- Orders Formset -->
            <h5>Orders</h5>
            {{ orders.management_form }}
            {% for form in orders.forms %}
                {% if forloop.first %}
                <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% endif %}
                <tr class="{% cycle 'row1' 'row2' %} formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <!-- Payment Form -->
        <h5>Payment Information</h5>
        {{ cash_form.as_p }}
        <div class="total-amount">
            <strong>Total Amount: <span id="total-amount">0.00</span></strong>
        </div>
        <input type="submit" value="Submit"/> 
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.formset_row').formset({
            addText: 'Add Order',
            deleteText: 'Remove',
            prefix: 'order_set',
        });

        $('form').on('change', 'input[name$=-item_id]', function() {
            updatePrice(this);
        });

        $('form').on('change', 'input[name$=-quantity]', calculateTotal);

        calculateTotal(); // Initial calculation
    });
    function updatePrice(itemInput) {
        const row = $(itemInput).closest('.formset_row');
        const itemId = $(itemInput).val();
        const priceInput = row.find('input[name$=-price]');
       
        
        $.ajax({
            url: "{% url 'sale:item-price-api' %}",
            data: { 'item_id': itemId },
            success: function(data) {
                if (data.price) {
                    priceInput.val(data.price);
                    calculateTotal();
                }
            }
        });
    }

    function calculateTotal() {
        let total = 0;
        $('form .formset_row').each(function() {
            const quantity = parseFloat($(this).find('input[name$=-quantity]').val()) || 0;
            const price = parseFloat($(this).find('input[name$=-price]').val()) || 0;

            const subtotal = quantity * price;
            const amount = Math.max(subtotal * 1.2, 0);
            total += amount;
        });
        $('#total-amount').text(total.toFixed(2));
    }

    // $(document).ready(function() {
    //     $('.formset_row').formset({
    //         addText: 'Add Order',
    //         deleteText: 'Remove',
    //         prefix: 'order_set',
    //     });

    //     $('form').on('change', 'input[name$=-item_id]', function() {
    //         updatePrice(this);
    //     });

    //     $('form').on('change', 'input[name$=-quantity]', calculateTotal);

    //     calculateTotal(); // Initial calculation
    // });
</script>
{% endblock %}