<!-- sale_detail.html -->
{% extends "sale/base.html" %}
{% load static %}
{% block content %}
<h1>Sale Details</h1>
<hr>
<p><strong>Sale ID:</strong> {{ sale.sale_id }}</p>
<p><strong>Customer:</strong> {{ sale.customer.customer }}</p>
<p><strong>Date:</strong> {{ sale.date|date:"d/m/Y H:i:s" }}</p>

<p><strong>Total of Items:</strong> {{ sale.total_of_items }}</p>
<p><strong>Total HT:</strong> {{ sale.get_HT }}</p>
<p><strong>Total TVA:</strong> {{ sale.get_TVA }}</p>
<p><strong>Total TTC:</strong> {{ sale.get_TTC }}</p>

<h2>Orders</h2>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for order in sale.order_set.all %}
        <tr>
            <td>{{ order.item_id_id }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.get_subtotal }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No orders found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Payments</h2>
<p><strong>Amount received :</strong> {{ sale.cash.amount_received }}</p>
<p><strong>Change:</strong> {{ sale.cash.get_change }}</p>


<!-- PDF Generation Button -->
<div class="pdf-button">
    <a href="{% url 'sale:generate_ticket_pdf' sale.id %}" class="btn btn-primary" target="_blank">Ticket</a>
</div>
{% endblock %}
