{% extends "sale/base.html" %}
{% load static %}
{% block content %}
<!-- Sale Detail -->
<h4>Sale Detail</h4>
<hr>

<div class="sale-details">
    <p><strong>Sale ID:</strong> {{ sale.sale_id }}</p>
    <p><strong>Customer:</strong> {{ sale.customer }}</p>
    <p><strong>Date:</strong> {{ sale.date }}</p>
</div>

<h5>Orders</h5>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Discount</th>
        </tr>
    </thead>
    <tbody>
        {% for order in sale_orders %}
        <tr>
            <td>{{ order.item_id_id}}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.get_subtotal}}</td>
            <td>{{ order.get_subtotal_with_discount}}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="total-amount">
    <p><strong>HT:</strong> {{ sale.get_HT }}</p>
    <p><strong>TVA:</strong> {{ sale.get_TVA }}</p>
    <p><strong>TTC:</strong> {{ sale.get_TTC }}</p>
</div>

<!-- PDF Generation Button -->
<div class="pdf-button">
    <a href="{% url 'sale:generate_ticket_pdf' sale.id %}" class="btn btn-primary" target="_blank">Download Ticket as PDF</a>
</div>
{% endblock %}
