<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

    <nav class="navbar navbar-light" style="background-color: #258a97;">
   
        <ul>
            <li><a href="{% url 'dashboard:dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'sale:sale-list' %}">Sales</a></li>
            <li><a href="{% url 'sale:sale_create' %}">Create Sale</a></li>
            <li><a href="{% url 'stock:create-the' %}">Create The</a></li>
            <li><a href="{% url 'stock:create-parfum' %}">Create Parfum</a></li>
            <li><a href="{% url 'stock:item-update'  %}">Stock Update</a></li>
            <li><a href="{% url 'stock:item_search' %}">Search Items</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>
    <footer style="background-color: #258a97;">
        <p>&copy; 2024 Nina Bazar</p>
    </footer>
</body>
</html>
